<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center title">Edit Campground</h1>
    <div class="col-md-6 offset-md-3 mb-4">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="campground[title]" id="title" class="form-control" value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>    
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" name="campground[location]" id="location" class="form-control"  value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>    
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add More Image(s)...</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="price-label">$</span>
                    <input id="price"  name="campground[price]" type="text" class="form-control" placeholder="0.00" 
                    aria-label="price" aria-describedby="price-label"  value="<%= campground.price %>" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>    
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" name="campground[description]" id="description" class="form-control" required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>    
            </div>

            <div class="mb-3">
                <% campground.images.forEach((img, i) => { %>
                    <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete?</label>
                <% }) %> 
            </div>

            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
    </div>
    
</div>