<% layout('layouts/boilerplate') %>
<div id="cluster-map" class="border border-dark"></div>

<% if(result.results.length) {%> 
    <h1 class="title">All Campgrounds</h1>
    <nav aria-label="Campgrounds navigation pages" class="fw-bold">
        <ul class="pagination pagination-sm d-flex justify-content-center">
        <li class="page-item prev-btn"><a class="page-link page-prev" href="">Prev</a></li>
        <li class="page-item align-self-center"><a class="page-link page-num" href="">1</a></li>
        <li class="page-item align-self-center"><a class="page-link page-num" href="">2</a></li>
        <li class="page-item align-self-center"><a class="page-link page-num" href="">3</a></li>
        <li class="page-item page-last align-self-center"><a class="page-link page-num" href="">4</a></li>
        <li class="page-item page-last align-self-center"><a class="page-link page-num" href="">5</a></li>
        <li class="page-item next-btn align-self-center"><a class="page-link page-next" href="">Next</a></li>
        </ul>
    </nav>
<% } %> 


<div class="gutter">
    <a href="/campgrounds/new" class="accent">Add Campground</a>
</div>
<% if(result.results.length) {%> 
<!-- show each campground -->
    <% for(let campground of result.results) {%>
        <div class="card mb-3 border border-secondary rounded rounded-1 theme-target">
            <div class="row">
                <div class="col-md-4">
                    <!-- campground.images[0].url.includes('cloudinary')? campground.images[0].indexSize : -->
                    <% if(campground.images.length) {%>
                        <img src="<%= campground.images[0].indexSize %>" alt="" class="img-fluid">
                    <% } else {%>
                        <img class="img-fluid" src="https://res.cloudinary.com/maranttt/image/upload/v1643679209/YelpCamp/nhzmrsjscjzcll52hpod.jpg" alt="">
                    <% } %>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/campgrounds/<%= campground._id %>" class="accent"><%= campground.title %></a></h5>
                            <!-- shorten description if it is long -->
                            <% if(campground.description.length >= 200){ %>
                                <p class="card-text"><%= campground.description.substring(0, 220) %>...</p>
                            <% } else {%>
                                <p class="card-text"><%= campground.description %></p>
                            <% } %> 
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
<% } else {%> 
    <h1 class="pt-4">No result found in "<%= result.query %>" </h1>
<% } %> 
    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        //map will be looking for features to search from
        const campgrounds = {features: <%- JSON.stringify(result.results) %>};
        const resultLength = <%-result.allItemsFetched %>;
    </script>
      
    <script src="/javascripts/clusterMap.js"></script>
    <script src="/javascripts/pagination.js"></script>