<% layout('layouts/boilerplate') %>
<div id="cluster-map" class="border border-dark"></div>
<h1 class="title">All Campgrounds</h1>
<div class="gutter">
    <a href="/campgrounds/new">Add Campground</a>
</div>

<!-- show each campground -->
    <% for(let campground of campgrounds) {%>
        <div class="card mb-3 border border-secondary rounded rounded-1 theme-target">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) {%>
                        <img src="<%= campground.images[0].url.includes('cloudinary')? campground.images[0].indexSize :campground.images[0].url %>" alt="" class="img-fluid">
                    <% } else {%>
                        <img class="img-fluid" src="https://res.cloudinary.com/maranttt/image/upload/v1643679209/YelpCamp/nhzmrsjscjzcll52hpod.jpg" alt="">
                    <% } %>
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></h5>
                            <!-- shorten description if it is long -->
                            <% if(campground.description.length >= 200){ %>
                                <p class="card-text"><%= campground.description.substring(0, 220) %>...</p>
                            <% } else {%>
                                <p class="card-text"><%= campground.description %></p>
                            <% } %> 
                        <p class="card-text">
                            <small class="text-muted"><%= campground.location %></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        //map will be looking for features to search from
        const campgrounds = {features: <%- JSON.stringify(campgrounds) %>};
    </script>
      
    <script src="/javascripts/clusterMap.js"></script>