<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<div class="row">
  <div class="col-md-6">
    
    <!-- Campground Image Section -->
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner">
        <% campground.images.forEach((img, i) => { %>
          <div class="carousel-item <%= i === 0 ? 'active' : ''%> ">
            <img src="<%=img.url.includes('cloudinary')? img.showSize : img.url %>" class="img-fluid" alt="">
          </div>
          <% }) %>
      </div>
      <% if(campground.images.length > 1){ %>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
      <!-- Campground Description Section -->
      <div class="card mb-3 theme-target">
        <div class="card-body">
        <h5 class="card-title theme-target"><%= campground.title %></h5>
        <p class="card-text theme-target"><%= campground.description %></p>
      </div>

      <ul class="list-group list-group-flush theme-target">
        <li class="list-group-item text-muted theme-target"><%= campground.location %></li>
        <% if(campground.author) {%> 
          <li class="list-group-item theme-target">Submitted by <%= campground.author.username %></li>
        <% } %> 
        <li class="list-group-item theme-target">$<%= campground.price %>/night</li>
      </ul>

      <% if(currentUser && campground.author && campground.author.equals(currentUser._id)){ %> 
        <div class="card-body">
          <a href="/campgrounds/<%= campground._id%>/edit" class="btn btn-info card-link">Edit</a>
          <form class="d-inline card-link" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST" >
            <button class="btn btn-danger">Delete</button>
        </form>
        </div>
      <% } %> 
      
      <div class="card-footer">
        <% if(String(campground.createdAt)!==String(campground.updatedAt)) {%> 
          Updated at: <span class="text-muted"><%= campground.updatedAt %></span>
        <% } else {%> 
          Created at: <span class="text-muted"><%= campground.createdAt %></span>
        <% } %> 
          <a href=/campgrounds?page=<%= currentPage %> class="d-block pt-2 accent">All Campgrounds</a>
      </div>


    </div>
    
  </div>

  <!-- Reviews Section -->
  <div class="col-md-6">
    <div id='map'></div>
      <% if(!currentUser) {%>
        <p class="lead mt-5 text-center mb-4">Please sign in or register to have access to reviews</p>
      <% } else {%>  
      <h2 class="mt-md-4">Leave a Review</h2>
        <!-- Input Review Section -->
        <form action="/campgrounds/<%= campground._id %>/reviews" class="validated-form mb-5" method="POST" novalidate>
          <fieldset class="starability-slot mb-3">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>

          <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          
          <button class="btn btn-success">Submit</button>
        </form>
        <!-- Show Reviews Section -->
        <% for(let review of campground.reviews){ %>
        <div class="card mb-3 theme-target">
          <div class="card-body">
            <h5 class="card-title"><%= review.author.username  %> </h5>
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: <%= review.rating %> 
            </p>
            <p class="card-text">Review: <%= review.body %></p>
            <% if(currentUser && review.author.equals(currentUser._id)){ %> 
              <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            <% } %> 
          </div>
        </div>
        <% } %>
      <% } %> 
    </div>
</div>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
  const campground = <%- JSON.stringify(campground) %>;
</script>

<script src="/javascripts/showMap.js"></script>


